@using TaskManager.Models
@model TaskManager.Models.Project

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <div class="card  full-width main-detail-box black-border">
        <div>
            <h4 class="detail-top"> @Model.Name </h4>
        </div>
        <div class="block-separator black-border">
            <div class="">
                <div>
                    <table class="margin-to-center-table">
                        <tr>
                            <td class="table-distance">
                                Priority 
                            </td>
                            <td class="table-distance">
                                @Model.Priority
                            </td>
                        </tr>
                        <tr>
                            <td class="table-distance">
                                Status
                            </td>
                            <td class="table-distance">
                                @if (Model.Status == ProjectStatus.NotStarted)
                                {
                                    <p class="ColorRed">@Model.Status</p>
                                }
                                @if (Model.Status == ProjectStatus.Active)
                                {
                                    <p class="ColorBlue">@Model.Status</p>
                                }
                                @if (Model.Status == ProjectStatus.Completed)
                                {
                                    <p class="ColorGreen">@Model.Status</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="table-distance">
                                Id 
                            </td>
                            <td class="table-distance">
                                @Model.Id
                            </td>
                        </tr>
                        <tr>
                            <td class="table-distance">
                                Create Date
                            </td>
                            <td class="table-distance">
                                @Model.CreateDate.ToLocalTime();
                            </td>
                        </tr>
                        <tr>
                            <td class="table-distance">
                                End Date
                            </td>
                            <td class="table-distance">
                                @if (@Model.FinishDate == null)
                                {
                                    <p>Not closed yet</p>
                                }
                                else
                                {
                                    <p> @Model.FinishDate</p>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="button-block">
                    <a class="btn btn-dark text-center" asp-action="Index" asp-controller="Projects">Return</a>
                </div>
            </div>
            <div class="description-block black-border full-width">
                <div>
                    <h4 class="detail-top border-space full-width"> Project Description </h4>
                </div>
                <div>
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>
