@using TaskStatus = TaskManager.Models.TaskStatus
@model TaskManager.Models.ViewModels.ProjectDetailAndTasksViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <div class="card  full-width main-detail-box black-border">
        <div>
            <h4 class="detail-top"> @Model.Project.Name </h4>
        </div>
        <div class="block-separator black-border">
            <div class="">
                <div>
                    <table class="margin-to-center-table">
                        <tr>
                            <td class="table-distance">
                                Priority 
                            </td>
                            <td class="table-distance">
                                @Model.Project.Priority
                            </td>
                        </tr>
                        <tr>
                            <td class="table-distance">
                                Status
                            </td>
                            <td class="table-distance">
                                @if (Model.Project.Status == ProjectStatus.NotStarted)
                                {
                                    <p class="ColorRed">@Model.Project.Status</p>
                                }
                                @if (Model.Project.Status == ProjectStatus.Active)
                                {
                                    <p class="ColorBlue">@Model.Project.Status</p>
                                }
                                @if (Model.Project.Status == ProjectStatus.Completed)
                                {
                                    <p class="ColorGreen">@Model.Project.Status</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="table-distance">
                                Id 
                            </td>
                            <td class="table-distance">
                                @Model.Project.Id
                            </td>
                        </tr>
                        <tr>
                            <td class="table-distance">
                                Create Date
                            </td>
                            <td class="table-distance">
                                @Model.Project.CreateDate.ToLocalTime();
                            </td>
                        </tr>
                        <tr>
                            <td class="table-distance">
                                End Date
                            </td>
                            <td class="table-distance">
                                @if (@Model.Project.FinishDate == null)
                                {
                                    <p>Not closed yet</p>
                                }
                                else
                                {
                                    <p> @Model.Project.FinishDate</p>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="button-block">
                    <a class="btn btn-dark text-center" asp-action="Index" asp-controller="Projects">Return</a>
                    <a class="btn btn-dark text-center" asp-action="AddTask" asp-controller="Tasks" asp-route-id="@ViewBag.ProjectId">Add task</a>
                </div>
            </div>
            <div class="description-block black-border full-width">
                <div>
                    <h4 class="detail-top border-space full-width"> Project Description </h4>
                </div>
                <div>
                    <p>@Model.Project.Description</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2>Current project's tasks</h2>
        @if (!Model.Tasks.Any())
        {
            <h3 class="display-5">Tasks list is empty yet</h3>
        }
        else
        {
            <div class="row">
                @foreach (var task in Model.Tasks)
                {
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a asp-action="" asp-controller="" asp-route-id="@task.Id">@task.Name</a>
                                </h5>
                                <p class="card-text"><small class="text-muted">Created: @task.CreateDate</small></p>
                                <p class="card-text"><small class="text-muted">Priority: @task.Priority</small></p>
                                <p class="card-text">
                                    @if (task.Status == TaskStatus.ToDo)
                                        {
                                            <p class="ColorRed">@task.Status</p>
                                        }
                                        @if (task.Status == TaskStatus.InProgress)
                                        {
                                            <p class="ColorBlue">@task.Status</p>
                                        }
                                        @if (task.Status == TaskStatus.Done)
                                        {
                                            <p class="ColorGreen">@task.Status</p>
                                        }
                                </p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-light border" asp-action="EditTask" asp-controller="Tasks" asp-route-id="@task.Id">Edit</a>
                                <a class="btn btn-light border" asp-action="DetailTask" asp-controller="Tasks" asp-route-id="@task.Id">Detail</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            
        }
    </div>
</div>
